<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% if no_game %}
<a id={{no_game_error}}> Sorry, gang is already broken up</a>
{% else %}
<h1>Play Supra gang!</h1>
<h2>Players:</h2>
<ul>
    {% for player in players %}
    <li>{{player}}</li>
    {% endfor %}
</ul>
{% if no_players %}
<p id={{no_players_error}}">You need more people to create new gang:(</p>
{% else %}
<form id="toss" name="toss" method="post" action={{url}}>
    <input type="submit" value="Toss!"/>
</form>
{% endif %}
{% endif %}
</body>
</html>